#scoreboard {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 68em;
    background-color: rgba(200, 200, 200, 0.7);
    color: white;
    font-size: x-large;
    font-family: monospace;
    padding: 1em;
}